.leaflet-resp-popup-tip-container-s {
	position: relative;	
}

.leaflet-resp-popup-tip-s {
	margin: 11px auto 0;
}

.leaflet-container a.leaflet-resp-popup-close-button-s {
	top: 20px;
}


.leaflet-resp-popup-tip-container-w {
	width: 20px;
	margin-left: 0;
	margin-right: -20px;
	left: 100%;
	right: 0;
	top: 25%; // needs adjusting in javascript
}

.leaflet-resp-popup-tip-w {
	margin: 0 -11px;
}


.leaflet-resp-popup-tip-container-e {
	width: 20px;
	left: 0;
	top: 25%; // needs adjusting in javascript
}


.leaflet-resp-popup-tip-e {
	margin: 0 11px;
}


.leaflet-resp-popup-tip-container-se {
	width: 20px;
	left: 0;
	margin-left: 0;
	margin-top: -20px;
}

.leaflet-resp-popup-tip-se {
	margin: 11px 11px 11px -8px; 
}

.leaflet-resp-popup-content-wrapper-se {
    border-radius: 0 20px 20px 20px;
}



.leaflet-resp-popup-tip-container-ne {
	width: 20px;
	left: 0;
	margin-left: 0;
	margin-top: -1px;
}

.leaflet-resp-popup-tip-ne {
	margin: -8px 11px 11px -8px;
}

.leaflet-resp-popup-content-wrapper-ne {
    border-radius: 20px 20px 20px 0;
}



.leaflet-resp-popup-tip-container-nw {
	width: 20px;
	margin-right: 0;
	margin-top: -1px;
	left: 100%;
	right: 0;
}

.leaflet-resp-popup-tip-nw {
	margin: -8px 11px 11px 11px;
}

.leaflet-resp-popup-content-wrapper-nw {
    border-radius: 20px 20px 0 20px;
}



.leaflet-resp-popup-tip-container-sw {
	width: 20px;
	left: 100%;
	right: 0;
	margin-top: -20px;
}

.leaflet-resp-popup-tip-sw {
	margin: 11px 11px 11px 11px;
}
.leaflet-resp-popup-content-wrapper-sw {
	border-radius: 20px 0 20px 20px;
}
